<a href="https://colab.research.google.com/github/2403a51079/AI-ASSISTED-CODING/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def sum_even_odd(numbers):
  """Calculates the sum of even and odd numbers in a list.

  Args:
    numbers: A list of numbers.

  Returns:
    A tuple containing the sum of even numbers and the sum of odd numbers.
  """
  even_sum = 0
  odd_sum = 0
  for number in numbers:
    if number % 2 == 0:
      even_sum += number
    else:
      odd_sum += number
  return even_sum, odd_sum

# Get input from the user
input_list_str = input("Enter a list of numbers separated by spaces: ")

# Convert the input string to a list of integers
try:
  input_list = [int(x) for x in input_list_str.split()]
  even_sum, odd_sum = sum_even_odd(input_list)
  print(f"Sum of even numbers: {even_sum}")
  print(f"Sum of odd numbers: {odd_sum}")
except ValueError:
  print("Invalid input. Please enter a list of numbers separated by spaces.")

Enter a list of numbers separated by spaces: 2 8 9 4 5 6 5 4 5
Sum of even numbers: 24
Sum of odd numbers: 24

In [11]:
# Store student objects in a list
student_list = [student1, student2, student3, student4, student5]

print("\nAccessing details from the list:")
# Iterate through the list and display details of each student
for student in student_list:
  student.display_details()
  print("-" * 20) # Print a separator line

Accessing details from the list:
Student Details:
Name: Alice
Roll No.: SRU101
Hostel Status: resident
Fee Paid: 5000
Course: Undecided
--------------------
Student Details:
Name: Bob
Roll No.: SRU102
Hostel Status: day scholar
Fee Paid: 2000
Course: Electrical Engineering
--------------------
Student Details:
Name: Charlie
Roll No.: SRU103
Hostel Status: resident
Fee Paid: 0
--------------------
Student Details:
Name: David
Roll No.: SRU104
Hostel Status: day scholar
Fee Paid: 0
--------------------
Student Details:
Name: Eve
Roll No.: SRU105
Hostel Status: resident
Fee Paid: 0
--------------------

In [10]:
class sru_student:
  """Represents a student at SRU."""

  def __init__(self, name, roll_no, hostel_status, course="Undecided"):
    """Initializes a new sru_student object.

    Args:
      name: The name of the student.
      roll_no: The roll number of the student.
      hostel_status: The hostel status of the student (e.g., 'resident', 'day scholar').
      course: The course the student is enrolled in (defaults to "Undecided").
    """
    self.name = name
    self.roll_no = roll_no
    self.hostel_status = hostel_status
    self.fee_paid = 0  # Initialize fee_paid to 0
    self.course = course # Initialize the course attribute

  def fee_update(self, amount):
    """Updates the fee paid by the student.

    Args:
      amount: The amount of fee paid.
    """
    self.fee_paid += amount
    print(f"Fee updated for {self.name}. Total fee paid: {self.fee_paid}")

  def update_course(self, new_course):
    """Updates the course the student is enrolled in.

    Args:
      new_course: The new course name.
    """
    self.course = new_course
    print(f"Course updated for {self.name} to {self.course}")


  def display_details(self):
    """Displays the details of the student."""
    print("Student Details:")
    print(f"Name: {self.name}")
    print(f"Roll No.: {self.roll_no}")
    print(f"Hostel Status: {self.hostel_status}")
    print(f"Fee Paid: {self.fee_paid}")
    print(f"Course: {self.course}")

# Example usage:
student1 = sru_student("Alice", "SRU101", "resident")
student1.display_details()
student1.fee_update(5000)
student1.display_details()

student2 = sru_student("Bob", "SRU102", "day scholar", "Computer Science")
student2.display_details()
student2.fee_update(2000)
student2.display_details()
student2.update_course("Electrical Engineering")
student2.display_details()

Student Details:
Name: Alice
Roll No.: SRU101
Hostel Status: resident
Fee Paid: 0
Course: Undecided
Fee updated for Alice. Total fee paid: 5000
Student Details:
Name: Alice
Roll No.: SRU101
Hostel Status: resident
Fee Paid: 5000
Course: Undecided
Student Details:
Name: Bob
Roll No.: SRU102
Hostel Status: day scholar
Fee Paid: 0
Course: Computer Science
Fee updated for Bob. Total fee paid: 2000
Student Details:
Name: Bob
Roll No.: SRU102
Hostel Status: day scholar
Fee Paid: 2000
Course: Computer Science
Course updated for Bob to Electrical Engineering
Student Details:
Name: Bob
Roll No.: SRU102
Hostel Status: day scholar
Fee Paid: 2000
Course: Electrical Engineering

In [9]:
# Create more sru_student objects
student3 = sru_student("Charlie", "SRU103", "resident")  # Create student3 object with name, roll no, and hostel status
student4 = sru_student("David", "SRU104", "day scholar") # Create student4 object with name, roll no, and hostel status
student5 = sru_student("Eve", "SRU105", "resident")     # Create student5 object with name, roll no, and hostel status

print("Created additional student objects:") # Print a header indicating the display of new student details
student3.display_details()  # Display the details of student3
student4.display_details()  # Display the details of student4
student5.display_details()  # Display the details of student5

Created additional student objects:
Student Details:
Name: Charlie
Roll No.: SRU103
Hostel Status: resident
Fee Paid: 0
Student Details:
Name: David
Roll No.: SRU104
Hostel Status: day scholar
Fee Paid: 0
Student Details:
Name: Eve
Roll No.: SRU105
Hostel Status: resident
Fee Paid: 0